@import '../../../assets/styles/colors';

form {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 0;
  gap: 1vw;
}

h1, h2 {
  color: $tertiary-font-color;
  text-align: center;
}

h1 {
  font-size: 2.5vw;
  line-height: 60px;
}

div {
  display: flex;
  background-color: $main-color;
  padding: 0.4vw;
  padding-left: 1vw;
  gap: 1vw;
  border-radius: 10px;
  width: 20vw;
  justify-content: space-between;
}

input {
  width: 100%;
  outline: none;
}
