<nav>
  <div class="container">
    <div class="image-container">
      <img ngSrc="../../../assets/images/icons/javascript-icon.svg" priority fill>
    </div>
    <p class="title">FREEMARKET</p>
  </div>
  <ul>
    <li><a href="" target="_blank">CATALOGUE</a></li>
    <li><a href="" target="_blank">FASHION</a></li>
    <li><a href="" target="_blank">FAVOURITE</a></li>
    <li><a href="" target="_blank">LIFESTYLE</a></li>
    <li><CustomButton textButton="SIGN UP" /></li>
  </ul>
</nav>
<div class="space"></div>
