<footer>
  <div>
    <h1 class="title">FASHION</h1>
    <p>Complete your style with awesome<br>clothes from us</p>
    <ul class="social-container">
      <li class="image-container"><a href="" target="_blank">
        <img alt="social media" ngSrc="../../../assets/images/icons/javascript-icon.svg" fill>
      </a></li>
      <li class="image-container"><a href="" target="_blank">
        <img alt="social media" ngSrc="../../../assets/images/icons/javascript-icon.svg" fill>
      </a></li>
      <li class="image-container"><a href="" target="_blank">
        <img alt="social media" ngSrc="../../../assets/images/icons/javascript-icon.svg" fill>
      </a></li>
      <li class="image-container"><a href="" target="_blank">
        <img alt="social media" ngSrc="../../../assets/images/icons/javascript-icon.svg" fill>
      </a></li>
    </ul>
  </div>
  <div class="links-container">
    <ul class="links">
      <p class="no-link">Company</p>
      <li class="link"><a href="" target="_blank">About</a></li>
      <li class="link"><a href="" target="_blank">Contact Us</a></li>
      <li class="link"><a href="" target="_blank">Support</a></li>
      <li class="link"><a href="" target="_blank">Careers</a></li>
    </ul>
    <ul class="links">
      <p class="no-link">Quick Link</p>
      <li class="link"><a href="" target="_blank">Share Location</a></li>
      <li class="link"><a href="" target="_blank">Orders Tracking</a></li>
      <li class="link"><a href="" target="_blank">Size Guide</a></li>
      <li class="link"><a href="" target="_blank">FAQs</a></li>
    </ul>
    <ul class="links">
      <p class="no-link">Legal</p>
      <li class="link"><a href="" target="_blank">Terms & Conditions</a></li>
      <li class="link"><a href="" target="_blank">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
