<section>
  <div class="text-container">
    <h1 class="title">DOWNLOAD APP &<br>GET THE VOUCHER!</h1>
    <p>Get 30% off for first transaction using<br>the mobile app now!</p>
    <div class="button-container">
      <CustomButton 
        image="../../../../assets/images/icons/javascript-icon.svg" 
        textButton="App Store"
      />
      <CustomButton 
        image="../../../../assets/images/icons/javascript-icon.svg" 
        textButton="Play Store"
      />
    </div>
  </div>
  <div class="image-container"><img ngSrc="../../../../assets/images/reference4.jpg" fill></div>
</section>
