// Button colors
$button-background-color: #000000;
$button-font-color: #ffffff;
$button-background-color-active: #e6c744;
$button-background-color-hover: #c2cbda;

// Font colors
$primary-font-color: #000000;
$secondary-font-color: #b3b3b3;
$tertiary-font-color: #ffffff;
$last-font-color: #7f7f7f;

// Navbar colors
$nav-background-color: #ffffff;
$nav-letter-color-hover: #c2cbda;

// Layout colors
$secondary-color: #e6c744;
$footer-background-color: #000000;
$payday-color: #ffec63;

// Welcome colors
$welcome-background-color: #f4f6f5;
